<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="WaterData" value="https://pkgs.dev.azure.com/EcanDevOps/46a0e6b2-c93a-4df1-b4c9-0f2e14271870/_packaging/WaterData/nuget/v3/index.json" />
  </packageSources>
</configuration>